* {
    background-color: #333;
    color: aliceblue;
}

p {
    font-family: serif;
    line-height: 1.75em;
    font-size: 18px;
    margin: 0px 3rem;
}

i { 
    font-family: sans;
    color: orange;
}

h2 {
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    border: solid 3px orange;
    border-radius: 25px;
    padding:8px;
}